<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Config File</comment>
<entry key="game_name">Crash Bandicoot</entry>
<entry key="game_version">1.0.1 T</entry>
<entry key="game_region">EUR</entry>
<entry key="game_crc32">6C7C966B</entry>
<entry key="emulator_name">libjava-activity_NCEA00344_T_1.so</entry>
<entry key="emulator_crc32">94081C77</entry>
<entry key="emulator_patch">libjava-activity.so.jbpatch</entry>
<entry key="iso_patch">game-patch.bin</entry>
</properties>
