<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Config File</comment>
<entry key="game_name">Crash Bandicoot</entry>
<entry key="game_version">1.0.1</entry>
<entry key="game_region">USA</entry>
<entry key="game_crc32">E7BCB6D5</entry>
<entry key="emulator_name">libjava-activity.so</entry>
<entry key="emulator_patch"></entry>
<entry key="iso_patch"></entry>
</properties>
